.signupdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1rem;

}
.signupcard{
    background: linear-gradient(135deg, #e7e9ec 10%, #31acbc 100%);
    border: 1px solid rgb(255, 255, 255);
    border-radius: .7rem;
    height: 400px;
    width: 500px;
 }
mat-form-field{
    width: 100%;
}
p{
    align-items: center;
}
button{
    padding: 12px 20px;
    background: #718ee4;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    
    
    transition: all .3s ease-in;
   
    }
    button:hover{
    background: transparent;
    color: #0804f5;
    border: 2px solid #cec7cb;
    }