.signupdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 6rem;

}
.signupcard{
    background: linear-gradient(135deg, #96b3d1 10%, #2482bc 100%);
    border: 1px solid rgb(5, 35, 61);
    border-radius: .7rem;
    height: 350px;
    width: 650px;
 }
mat-form-field{
    width: 100%;
}