.container{
    background-color: rgb(202, 238, 245);
    width: 640px;
    border-radius: 13px;
    padding: 10px;
    margin-top: 45px;
}
button{
    padding: 12px 20px;
    background: #718ee4;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    
    
    transition: all .3s ease-in;
   
    }
    button:hover{
    background: transparent;
    color: #0804f5;
    border: 2px solid #cec7cb;
    }