.container-fluid{
    
    width: 740px;
}


/* .tab{
    position: relative;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2rem;

}    

.logincard{
   
    border: 1px solid skyblue;
    border-radius: .5rem;
    width: 350px !important;
}
mat-form-field {
    width: 100%;
} */