<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                  </div>
<div class="logindiv">
<mat-tab-group mat-align-tabs="center">
        <mat-tab label="Login" allign="center">
        <mat-card class="logincard">
        <form [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">
            <p>Please login to your account</p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName='email'>
            </mat-form-field>
            <mat-error class="mat-error"
              *ngIf="AllControls.email.errors?.['required']&&submitted" >Email required</mat-error>
            <mat-error *ngIf="AllControls.email.errors?.['email']&&submitted">Invalid Email</mat-error>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [type]="hide? 'password':'text'" formControlName='password'>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="AllControls.password.errors?.['required']&&submitted"
                >Password required</mat-error>
                <mat-error *ngIf="AllControls.password.errors?.['minlength']&&submitted"
                >Password aleast 6 characters</mat-error>
                </mat-form-field>
                <div style="text-align: center;">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Login</button> 
            </div>
        </form>
        </mat-card>
        </mat-tab>
        </mat-tab-group>
</div>


